/* Portal Stylesheet
    Tara Parker-Essig
    DES 157 WQ 2018
*/

html {
  background-color: #DDE2D9;
  color: #2E2C2F;
  font-family: sans-serif;
}

a {
  color: #6A6D69;
}

a:hover {
  color: #FFFFFF;
}

.wrapper {
  background-color: #F3E8EE;
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 25px;
}

header {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

img {
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

main {
  background-color: #BACDB0;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
}

h2 {
  font-size: 1.25rem;
  padding-bottom: 5px;
}

li {
  padding-bottom: 2px;
}

footer {
  background-color: #F3E8EE;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
}
